*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans',sans-serif;
}
a{
	text-decoration: none;
}
.header{
	width: 100%;
	background-color: #fff;
}
.container{
	width: 1140px;
	margin: auto;
}
.navbar{
	display: flex;
	justify-content: space-between;

}
.logo img{
	width: 100px;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 16px;
	margin-right: 16px;
	line-height: 68px;
}
.menu-btn{
	margin-top: 16px;
}
.menu-btn button {
	background-color: #2e367d;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 22px;
	padding-right: 22px;
	border: none;
	margin-left: 8px;
	cursor: pointer;
	transition: 0.5s;
}
.menu-btn button:hover{
	background-color: skyblue;
	transition: 0.5s;
}

.footer{
	width: 100%;
	background-color: white;
	padding-top: 100px;
	padding-bottom: 100px;
}
.footer-row{
	display: flex;
}
.footer-1,.footer-2,.footer-3,.footer-4{
	flex-basis: 25%;
	margin-right: 16px;
}
.f-title{
	font-size: 16px;
	color: #1e266d;
	margin-bottom: 16px;
}
.f-desc{
	font-size: 16px;
	color: #91a3bb;
	line-height: 1.9;
}
.links li{
	list-style: none;
	line-height: 1.9;
}
.links li a{
	color: #91a3bb;
	transition: 0.5s;
}
.links li a:hover{
	color: #1e266d;
	margin-left: 8px;
	transition: 0.5s;
}
.bfooter img{
	width: 100%;
	margin: auto;
}
.bfooter{
	padding-top: 50px;
	padding-bottom: 50px;
}
.cfooter p{
	text-align: center;
	color: #2e367da1;
    font-size: 14px;
}

.address{
	width: 100%;
	background-color: white;
	padding-top: 100px;
}
.address-row{
	display: flex;
	background-color: rgb(46, 54, 125);
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 60px;
	padding-right: 60px;
	border-radius: 8px;
}
.address-left,.address-right{
	flex-basis: 50%;
}
.address-row h3{
	color: white;
	font-size: 24px;
	margin-bottom: 16px;
}
.address-row p{
	font-size: 16px;
	line-height: 1.9;
	color: white;
}

.p-card{
	width: 100%;
	background-color: #f5f7fa;
padding-top: 80px;
padding-bottom: 80px;
}
.img-fluid{
	max-width: 100%;
	height: auto;
}
.card-row{
	display: flex;
}
.p-left,.p-right{
	flex-basis: 50%;
}
.p-right{
	margin-left: 32px;
}
.p-right h5{
	color: #171f3c;
	font-size: 24px;
	font-weight: 300;
}
.p-right h2{
	font-size: 45px;
	color: #07324f;
	font-weight: 700;
	margin-bottom: 32px;
}
.p-right p{
	font-size: 16px;
	color: #526375;
	line-height: 28px;
	margin-bottom: 32px;
}
.view-btn{
	background-color: #2e367d;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 22px;
	padding-right: 22px;
	border: none;
	border-radius: 4px;
	transition: 0.5s;
	cursor: pointer;
} 
.view-btn:hover{
	background-color: skyblue;
	transition: 0.5s;
}

.Intro{
	width: 100%;
	background-color: white;
padding-top: 80px;
padding-bottom: 5px;
width: 100%;
}
.img2{
	max-width: 100%;
	height: auto;
}
.Intro-row{
	display: flex;
}
.i-left,.i-right{
	flex-basis: 50%;
}
.i-left{
	margin-left: 32px;
}
.i-left h5{
font-size: 45px;
color: #1e266d;
font-weight: 700;
line-height: 52px;
}
.i-left p{
	font-size: 20px;
	color: #1e266d;
	line-height: 24px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: 300;
}
.view-btn2{
	background-color: #2e367d;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 22px;
	padding-right: 22px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.5s;
}
.view-btn2:hover{
	background-color: skyblue;
transition: 0.5s;
}

.project{
	width: 100%;
	background-color: white;
	padding-top: 80px;
padding-bottom: 40px;
width: 100%;

}
.img3{
	max-width: 100%;
	height: auto;
}
.project-row{
	display: flex;
}
.pr-left,.pr-right{
	flex-basis: 50%;
}
.pr-left{
	margin-left: 32px;
}
.pr-left h5{
	color: #171f3c;
	font-size: 24px;
	margin-bottom: 10px;
	line-height: 30px;
	font-weight: 300;
}
.pr-left h2{
	font-size: 45px;
    line-height: 42px;
    color: #07324f;
    margin-bottom: 32px;
    font-weight: 700;
}
.pr-left p{
	color: #526375;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 32px;
}
.view-btn3{
	background-color: #2e367d;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 22px;
	padding-right: 22px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.5s;
}
.view-btn3:hover{
	background-color: skyblue;
transition: 0.5s;
}

.support{
	width: 100%;
	background-color: #f5f7fa;
padding-top: 80px;
padding-bottom: 80px;
width: 100%;
}
.img4{
	max-width: 100%;
	height: auto;
}
.support-row{
display: flex;
}
.s-left,.s-right{
	flex-basis: 50%;
}
.s-right{
	margin-left: 32px;
}
.s-right h5{
	color: #171f3c;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 30px;
    font-weight: 300;
}
.s-right h2{
	font-size: 32px;
    line-height: 42px;
    color: #07324f;
    margin-bottom: 20px;
    font-weight: 700;
}
.s-right p{
	color: #526375;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 30px;
}
.view-btn4{
	background-color: #2e367d;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 22px;
	padding-right: 22px;
	border: none;
	border-radius: 4px;
	transition: 0.5s;
	cursor: pointer;
} 
.view-btn4:hover{
	background-color: skyblue;
	transition: 0.5s;
}
.earning{
	padding-top: 80px;
    padding-bottom: 60px;
    width: 100%;
	background-color: #fafafa;
}
.img5{
	max-width: 100%;
	height: auto;
}
.earning-row{
	display: flex;
}
.e-left,.e-right{
	flex-basis: 50%;
}
.e-left{
	margin-left: 32px;
}
.e-left h5{
	color: #171f3c;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 30px;
    font-weight: 300;
}
.e-left h2{
	font-size: 32px;
    line-height: 42px;
margin-bottom: 20px;
    font-weight: 700;
    color: #07324f;
}
.e-left p{
	color: #526375;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 30px;
}
.view-btn5{
	background-color: #2e367d;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 22px;
	padding-right: 22px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.5s;
}
.view-btn5:hover{
background-color: skyblue;
transition: 0.5s;
}
.video{
	padding-top: 80px;
    padding-bottom: 40px;
}
.img6{
	width: 100%;
    max-width: 100%;
}
.video-r{
	display: flex;
}
.video-btm{
	flex-basis: 100%;
}
.success{
	width: 100%;
background-color: white;
padding-top: 80px;
padding-bottom: 45px;
}
.success-row{
	display: flex;
}
.su-left,.su-middle,.su-right{
	flex-basis: 33%;
}
.su-left{
	background-color: #f9799a;
    margin-right: 50px;
    padding: 30px 20px;
    border-radius: 5px;
}
.su-middle{
	background-color: #61c4d8;
    margin-right: 50px;
    padding: 30px 20px;
    border-radius: 5px;
}
.su-right{
	background-color: #1e266d;
    margin-right: 50px;
    padding: 30px 20px;
    border-radius: 5px;
}
.suc{
	font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #fff;
}
.succ{
	font-weight: 400;
    line-height: 1.9;
    color: #fff;
}

.how{
width: 100%;
	padding-top: 80px;
    padding-bottom: 10px;
    background-color: #fff;
}
.how-n{
	font-size: 32px;
    line-height: 42px;
    color: #07324f;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}
.how-im{
width: 100%;
	padding-top: 10px;
    padding-bottom: 10px;
}
.how-ima img{
	max-width: 100%;
    height: auto;
}
.how-imab{
	width: 100%;
    background-color: #fff;
    margin-top: 30px;
}
.h-row{
	display: flex;
}
.h-left,.h-middle,.h-right,.h-rightm{
	flex-basis: 25%;
}
.h-left h5{
	font-weight: bolder;
	margin-bottom: 5px;
}
.h-middle h5{
	font-weight: bolder;
	margin-bottom: 5px;
}
.h-right h5{
	font-weight: bolder;
	margin-bottom: 5px;
}
.h-rightm h5{
	font-weight: bolder;
	margin-bottom: 5px;
}

.h-left p{
	font-weight: 400;
	line-height: 1.9;
}
.h-middle p{
	font-weight: 400;
	line-height: 1.9;
}
.h-right p{
	font-weight: 400;
	line-height: 1.9;
}
.h-rightm p{
	font-weight: 400;
	line-height: 1.9;
}













